#top-bar {
  width:100%;
  background-color:#400707;
  top:0;
  height:4rem;
}

#main-title {
  font-family:Arial;
  color:white;
  margin-left:16%;
  padding:0;
  float:left;
}

#credits {
  color:white;
  float:right;
  vertical-align: middle;
}

#main-area {
  width:100%;
  text-align:center;
}

#search-create {
  border:solid #400707;
  display:inline-block;
  text-align:center;
  width:65%;
}

.subtitle {
  float:left;
  display:block;
}

#adduser {
  height:34px;
  background-color:#CC1616;
  border:0;
}

#search {
  background-color:#CC1616;
  border:0;
  height:34px;
}

#table-area {
  width:100%;
  text-align:center;
}

table {
  border:solid #400707;
  margin:auto;
  width:65%;
}

table * {
  padding:5px;
}
