#top-bar {
  width:100%;
  background-color:#400707;
  top:0;
  height:4rem;
  padding: 7px 7% 0 17% !important;
}

#main-title {
  font-family:Arial, Verdana, Tahoma, Helvetica;
  color:white;
  margin-left:16%;
  padding:0;
  float:right;
}

#credits {
  color:white;
  float:left;
  vertical-align: middle;
}

.csw-icon {
  vertical-align:middle;
  margin-bottom:5px;
}

#main-area {
  width:100%;
  text-align:center;
}

#search-create {
  border:solid #400707;
  border-radius: 4px;
  display:inline-block;
  width:65%;
}

#search-create input {
  vertical-align: middle;
}

#search-create *:not(i) {
  margin-top:0 !important;
  margin-bottom:0 !important;
}

i {
  margin-bottom:4px;
}

.subtitle {
  float:left;
  display:block;
}

#adduser {
  height:34px;
  border:0;
}

#getuser {
  height:34px;
  border:0;
}

#table-area {
  border:solid #400707;
  border-radius: 4px;
  display:inline-block;
  align-content:center;
  width:65%;
}

table {
  border:solid #ccc;
  border-width: 1px;
  border-radius:4px;
  margin:auto;
  width:93%;
  padding: 10px;
}

table thead {
  padding-top:20px;
}

table * {
  padding:5px;
  border:solid #ccc;
  border-width: 1px;
}

#back-link {
  color:white;
  float:left;
  height:100%;
  width:5%;
  text-align:center;
  font-size:24px;
}

.fa-arrow-left {
  vertical-align:middle;
}

#info {
  color:#8C0F0F;
  float:right;
  width:26%;
  text-align:center;
  font-family: Roboto;
  height:100%;
}

#teapot-title {
  padding-top:20px;
  font-weight: bold;
}

#teapot-body * {
  margin: 20px 0 20px 0;
  height:80%;
}

#teapot-footer {
  position: fixed;
  bottom:0;
  padding-bottom:20px;
}
